@model User
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/css/style.css"/>
  </head>
  <body>
    <div class="container">
        <h1>Register</h1>
        <a href="login_page">Login</a>
        <form asp-action="Register" asp-controller="Home" method="post">
            <div class="left_side">
                <div class="form-group">
                    <label asp-for="first_name">First Name</label>
                    <input asp-for="first_name" type="text" class="form-control" id="exampleFormControlInput1">
                    <span asp-validation-for="first_name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="last_name">Last Name</label>
                    <input asp-for="last_name" type="text" class="form-control" id="exampleFormControlInput1">
                    <span asp-validation-for="last_name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="email">Email</label>
                    <input asp-for="email" type="email" class="form-control" id="exampleFormControlInput1">
                    <span asp-validation-for="email"></span>
                </div><br><br>
                <button type="submit" class="btn btn-primary">Sign up Now</button>
            </div>
            <div class="right_side">
                <div class="form-group">
                    <label asp-for="password">Password</label>
                    <input asp-for="password" type="password" class="form-control" id="exampleFormControlInput1">
                    <span asp-validation-for="password"></span>
                </div>
                <div class="form-group">
                    <label asp-for="pass_confirm">Confirm Password</label>
                    <input asp-for="pass_confirm" type="password" class="form-control" id="exampleFormControlInput1">
                    <span asp-validation-for="pass_confirm"></span>
                </div>
            </div>
        </form>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
