@model Wedding
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wedding Planner</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/css/style.css"/>
  </head>
  <body>
    <div class="container">
        <h1>Plan Your Wedding</h1>
        <a id="logout2" href="/dashboard">Dashboard</a>
        <a href="/clear">Log Out</a><br><br>
        <form asp-action="Create_Wedding" asp-controller="Home" method="post">
            <input type="hidden" asp-for="UserId" value="@ViewBag.UserId">
            <div class="form-group row">
                <label asp-for="Wedder_One" class="col-sm-2 col-form-label">Wedder One</label>
                <div class="col-sm-10">
                    <input asp-for="Wedder_One" type="text" class="form-control" id="inputEmail3">
                </div>
            </div>
            <span asp-validation-for="Wedder_One"></span>
            <div class="form-group row">
                <label asp-for="Wedder_Two" class="col-sm-2 col-form-label">Wedder Two</label>
                <div class="col-sm-10">
                    <input asp-for="Wedder_Two" type="text" class="form-control" id="inputEmail3">
                </div>
            </div>
            <span asp-validation-for="Wedder_Two"></span>
            <div class="form-group row">
                <label asp-for="created_at" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-10">
                    <input asp-for="created_at" type="date" class="form-control" id="inputEmail3">
                </div>
            </div>
            <span asp-validation-for="created_at"></span>
            <div class="form-group row">
                <label asp-for="Wedding_Address" class="col-sm-2 col-form-label">Wedding Address</label>
                <div class="col-sm-10">
                    <input asp-for="Wedding_Address" type="text" class="form-control" id="inputEmail3">
                </div>
            </div>
            <span asp-validation-for="Wedding_Address"></span>
            <button id="button2" type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
